.navigation {
  line-height: 28px;
 

  .navigation-row {
    display: flex;
    gap: 20px;

    li {
      font-size: 15px;
      font-weight: 600;
    }

    .navigation-display {
      display: flex;
      gap: 10px;

      @media(max-width:768px) {
        cursor: pointer;
        display: none;
      }
      
    
    }

    .menu-responsive, .menu-col  {
     
      display: none;
     
      @media(max-width:768px) {
        display: flex;
        cursor: pointer;
      }



    }
    .menu-col{
      position: absolute;
      visibility: hidden;
      top:30px;
      right: 20px;
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 10px;
      border-radius: 5px;
      gap: 10px;
      @media(max-width:768px) {
       visibility: visible;
        cursor: pointer;
      }
      

      .nav-mark{
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 10px;
      }

      .navigation-responsive-link{
        margin-right: 100px;
      }
      
    }
  }

  // .nav-active {
  // color: rgb(225, 209, 209);
  // text-decoration: none;
  // list-style: none;
  // }
  ul:hover li:not(:hover) {
    opacity: .5;

  }

  // .navigation-row.clicked .menu-responsive {
  //   display: flex;
  // }

  // ul:hover li:hover {
  //   // color: rgb(242, 226, 226);
  // }

  // .nav-portfolio {
  //   cursor: pointer;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   gap:50px;
  //   // padding-right: 6rem;
  //   transition: .5s;

  // &:hover .nav-projects,
  // .nav-projects:hover {

  //   visibility: visible;
  //   opacity: 1;

  //   // li {
  //   //   transform: rotatey(0deg)
  //   // }
  // }

  // .nav-projects {
  //   position: absolute;
  //   // visibility: hidden;
  //   opacity: 0;
  //   padding: 0 20px;
  //   width: 80px;
  //   transform: translateX(0);
  //   transition: .3s ;
  //   perspective: 500px;

  //   li {
  //     transform: rotatey(60deg) scaleX(1.2);
  //     transform-origin: center;
  //     transition: .5s;
  //   }
  // }
  // }
}