.navigation {
  // position: absolute;
  top: 1rem;
  left: 1.4rem;
  font-size: 1.4rem;
  line-height: 28px;
  // color: rgb(228, 204, 204);
  font-family: 'Pierce Jameson', cursive;

  li {
    font-size: 25px;

  }

  .navigation-row {
    display: flex;
    gap: 20px;

    li {
      font-size: 20px;
    }

    &:hover {
      // transform: scale(1.2);
    }

    .navigation-display {
      display: flex;
      gap: 10px;

      @media(max-width:768px) {
        cursor: pointer;
        display: none;
      }
      
     

    }



    .menu-responsive span {
     width: 30px;
      height: 3px;
      border-radius: 5px;
      background-color: #4c3e2c;
      display: none;
      margin-top: 3px;

      @media(max-width:768px) {
        display: flex;
        cursor: pointer;
      }



    }
    .menu-col{
      position: relative;
      display: flex;
      flex-direction: column;
      // gap: 10px;
      &:hover{
        transform: none;
      }

      .nav-mark{
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 10px;
      }
      
    }
  }

  // .nav-active {
  // color: rgb(225, 209, 209);
  // text-decoration: none;
  // list-style: none;
  // }
  ul:hover li:not(:hover) {
    opacity: .5;

  }

  // .navigation-row.clicked .menu-responsive {
  //   display: flex;
  // }

  // ul:hover li:hover {
  //   // color: rgb(242, 226, 226);
  // }

  // .nav-portfolio {
  //   cursor: pointer;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   gap:50px;
  //   // padding-right: 6rem;
  //   transition: .5s;

  // &:hover .nav-projects,
  // .nav-projects:hover {

  //   visibility: visible;
  //   opacity: 1;

  //   // li {
  //   //   transform: rotatey(0deg)
  //   // }
  // }

  // .nav-projects {
  //   position: absolute;
  //   // visibility: hidden;
  //   opacity: 0;
  //   padding: 0 20px;
  //   width: 80px;
  //   transform: translateX(0);
  //   transition: .3s ;
  //   perspective: 500px;

  //   li {
  //     transform: rotatey(60deg) scaleX(1.2);
  //     transform-origin: center;
  //     transition: .5s;
  //   }
  // }
  // }
}