.card-container {
    display: flex;
    gap:10px;
    width: 18.75 rem;
    // border: 1px solid purple;
    border-radius: 10px;
    padding: 10px;
    // transition: 0.5s;
    max-width: 300px;
    transition: all 600ms ease;
    


    img {
        width: 300px;
        height: 280px;
        border-radius: 10px;
        object-fit: cover;
        filter: grayscale(50%);
        &:hover{
        filter: grayscale(0%);


        }
    }

    &:hover {
        box-shadow: rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 24px, rgba(17, 17, 26, 0.3) 0px 24px 24px;
        background-color: rgb(62, 115, 97);
        transform: scale(1.1);
    }
    
    .card-content {
        color: $color-3;
        &:hover{
            
        }
    }




}