.carouselProjets {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    // margin: 0 50px;
    // background: #000;
}

.box {
    position: relative;
    width: 250px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 1s ease-in-out;


}

.left {
    cursor: pointer;
    position: absolute;
    left: 5px;
    font-size: 48px;
    border-radius: 10px 0 0 10px;
    transition: 0.3s ease-in-out;
    color: white;
    background-color: #56462e61;

    .arrow{
        // color: black;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &:hover{
        background-color:#56462ea3;

    }
    @media(max-width: 768px) {
        font-size: 28px;
        background-color: #56462e3c;
    
    
        }
}

.left::before {
    display: block;
    content: '';
    // width: 40px;
    // height: 50px;
    // line-height: 40px;
    padding-left: 5px;
}



.right {
    position: absolute;
    right: 5px;
    font-size: 48px;
    border-radius: 0 10px 10px 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: white;
    background-color: #56462e61;
    .arrow{
        // color: black;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &:hover{
        background-color:#56462ea3;

    }

    @media(max-width: 768px) {
    font-size: 28px;
    background-color: #56462e3c;
    // width: 10px;


    }

}



.right::before {
    display: block;
    // align-items: center;
    content: '';
    // width: 50px;
    // height: 50px;
    // line-height: 40px;
    padding-left: 10px;
}

@media only screen and (min-width: 1600px) {
    .carouselProjets {
        min-height: 100vh;
    }

    .box {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 1200px) {
    .carouselProjets {
        min-height: 80vh;
    }

    .box {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 820px) {
    .carouselProjets {
        min-height: 70vh;
    }

    .box {
        width: 100px;
        height: 100px;
    }
}