// .detailsCarousel {
//     border: 1px solid red;
//     // width: 400px;
//    img{
//     // filter: brightness(0.5);
//     width: 200px
// }
// }

.carousel {
//   width: 50px;
//   height: 10px;
// min-height: 0vh;
display: flex;
justify-content: center;
align-items: center;
// min-height: 90vh;

   
    img{
        border-radius: 5px;
    }
    

}

.thumb{


}