// .detailsCarousel {
//     border: 1px solid red;
//     // width: 400px;
//    img{
//     // filter: brightness(0.5);
//     width: 200px
// }
// }

.carousel img{
    // width: 200px;
    padding: 0;
    margin: 0;
    border-radius: 5px;

}

.thumb{


}