.emailForm-container {
    display: flex;
 justify-content: center;
    // align-items: center;
    max-width: 1440px;
    // width: 100%;
    
    margin-bottom: 50px;
    padding: 50px;
    // background: url('./coucher_de_soleil.jpg') center/cover;
    // background-color: rgba(255, 255, 255, 0.8)
    // opacity: 0.8;
    // background-color: rgba(242, 224, 202, 1);

}

.emailForm {
    position: relative;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    padding: 35px;
    border-radius: 5px;
    // background-color: rgba(242, 224, 202, 1);
    gap: 20px;

    input,
    textarea,
    button {
        // width: 100%;
        border-radius: 5px;
        padding: 10px;
        border: none;
        background-color: white;
        border: 1px solid white;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        // color: white;
    }
    

    button {
        cursor: pointer;
        font-weight: bold;

        &:hover {
            opacity: 0.8;
        }
    }

}

.emailForm-image {
    // width:30%;
    // padding-left: 40px;
    // max-height: 100px;
    img{
        width: 100%;
    }
}


