.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  transition: top 0.4s;
  // margin-bottom: 50px;
  background-color: #fff;
  // display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  top:-120px;
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
    .header-logo{
      display: flex;
      align-items: center;
      gap:20px;
    }

    img {
      border: 1px solid black;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  li,
  h1 {
    // color: rgb(9, 60, 9);
    color:#4c3e2c;
  }
}

.header.hide {
  top: -120px;
  // height: 0;
  // background-color: black;
}

.header-title {
  // width: 30px;
  // color: ;
  // margin-top: 0;

  //  &:before {
  // content: '';
  // position: absolute;
  // height: 300px;
  // width: 400px;
  // border-radius: 50%;
  // background: #4e8a74;
  // top: -150px;
  // left: -160px;
  // z-index: -1;
  // animation: navAnim 20s infinite alternate;

  // @keyframes navAnim {
  //   50% {
  //     transform: scale(1.2);
  //   }
  //   100% {
  //     transform: scale(1);
  //   }
  // }
  @media screen and (max-width: 430px) {
    height: 50px;
    width: 50px;
  }
}

// }