@import url('https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@25,47.7&family=Montserrat:wght@300;500;800&family=Permanent+Marker&display=swap');

// $color-1: rgb(225, 209, 209);
// $color-2: rgb(84, 63, 63);

$color-2: linear-gradient(90deg, rgba(233, 199, 148, 0.31994047619047616) 34%, rgba(238, 209, 174, 1) 100%);
$color-1: #8B4513;





body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $color-2;
    color: $color-1;
    padding: 20px;

    a,
    li {
        color: $color-1;
        text-decoration: none;
        list-style: none;
    }

    /* margin: 40px; */
}

h1 {
    font-family: 'permanent marker', cursive;
}