@import url('https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@25,47.7&family=Montserrat:wght@300;500;800&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Honk:MORF,SHLN@25,47.7&family=Montserrat:wght@300;500;800&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Honk:MORF,SHLN@25,47.7&family=Montserrat:wght@300;500;800&family=Pattaya&family=Permanent+Marker&display=swap');
@import url('https://fonts.cdnfonts.com/css/elegant-2');
@import url('https://fonts.cdnfonts.com/css/ballet');
@import url('https://fonts.cdnfonts.com/css/pierce-jameson');

// $color-1: rgb(225, 209, 209);
// $color-2: rgb(84, 63, 63);
$color-1:#4c3e2c;
// $color-2: linear-gradient(90deg, rgba(7,14,11,1) 7%, rgba(101,194,160,1) 100%);
$color-2: linear-gradient(90deg, rgba(242,224,202, 1) 7%, rgba(191,170,143, 1) 70%,);
$color-3: rgb(214, 245, 234);
// $color-4: rgb(9, 60, 9);
// $color-2: rgb(128, 128, 128);
// $color-2: linear-gradient(90deg, rgba(128,128,128) 7%, rgba(175, 175 ,175) 100%);

// $color-2: linear-gradient(90deg, rgba(233, 199, 148, 0.31994047619047616) 34%, rgba(238, 209, 174, 1) 100%);
// $color-1: #8B4513;






body {
    font-family: '', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: $color-2;
    // color: $color-1;
    // padding: 20px;
    width: 100%;

    a,
    li {
        color: $color-1;
        text-decoration: none;
        list-style: none;
    }

}

h1 {
    font-family: 'Monserrat', sans-serif;
    // color:$color-1;;
    font-size: 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
    
}