.details-container {
    // display: flex;
    margin: 100px;
    h1{
        font-size: 55px;
        padding-bottom: 50px;
    }

    img {
        width: 400px;
        border-radius: 5px;
        height: 200px;
        object-fit: cover;
    }
}

.details-contain {
    display: flex;
    justify-content: space-between;
    gap: 100px;

    p {
        color: white;

    }
}