.details-container {
    position: relative;
    margin: 50px;
    h1{
        font-size: 55px;
        padding-bottom: 50px;
    }

}

.details-contain {
    position: relative;//off
    display: flex;
    // justify-content: space-between;
    align-items: baseline;
    gap: 50px;

    p {
        color: white;

    }
}

.details-carousel{
    max-width: 50%;
    // position: relative;
    
}

.details-arrow{
    cursor: pointer;
    font-size: 40px;
    &:hover{
        opacity: 0.8;
    }
}

.details-arrowRight{
    position: absolute;
    top: 0;
    right: 80px;;
}